
<!DOCTYPE html>
<html ng-app>
<head>
	<title>Instalacion</title>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>

</head>
<body>

		<div ng-init="name='Luis'">
			<h1>Welcome {{name}}</h1>
			
		</div>

	
</body>
</html>