
<!DOCTYPE html>
<html ng-app="Bookmarks">
<head>
	<title>Crear Modulos</title>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
	<script src="js/app.js"></script>

</head>
<body ng-controller="MainCOntroller">

		<div>
			<h1>Welcome {{name}}</h1>
			<ul>
				<li ng-repeat="category in categories" ng-class="{active: isCurrentCategory(category) }">
				
					<a href="#" ng-click="setCurrentCategory(category)"> {{category}} </a>
					
				</li>
				
			</ul>
			<ul>
				<li ng-repeat="bookmark in bookmarks | filter: {category: currentCategory}">
				<p>
					<a href="{{bookmark.url}}"> {{bookmark.name}}</a><br/>
					<small>{{bookmark.url}}</small>	
				</p>
				
				
					
				</li>
				
			</ul>
			
			
		</div>

	
</body>
</html>