
<!DOCTYPE html>
<html ng-app="Bookmarks">
<head>
	<title>Crear Modulos</title>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
	<script src="js/app.js"></script>

</head>
<body>

		<div ng-init="name='Luis'">
			<h1>Welcome {{name}}</h1>
			<p><input ng-model="name" type="text"></p>
			
		</div>

	
</body>
</html>