
<!DOCTYPE html>
<html ng-app="Bookmarks">
<head>

	<title>Crear Modulos</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
	<script src="js/app.js"></script>

</head>
<body ng-controller="MainCOntroller">
	<div class="wrapper">
		<!-- start <header> ...  -->
		<header class="header header-fixed navbar container-fluid">
			<div class="row">
				<div class="brand col-sm-3">
					<a href="#" class="navbar-brand">
					<i class="glyphicon glyphicon-wrench"></i>
					<span class="heading-font">Bookmarks App</span>
					</a>
				</div>
			</div>
		</header>
		<!-- end <header> ...  -->
		<div class="box">
			<div class="row">
			  <!--start- sidebar -->
				<div class="column col-sm-3" id="sidebar">
					<p class="nav-title">
						Categories 
					<a href="#" class="pull-right"><i class="glyphicon glyphicon-folder-open"></i></a>
					</p> 
					<ul class="nav">
						<li ng-repeat="category in categories" ng-class="{active: isCurrentCategory(category)}">

							<a href="#" ng-click="setCurrentCategory(category)">
							<i class="glyphicon glyphicon-tags"></i> {{category}}</a>
						</li>
					</ul>
				</div>
			  <!--end- /sidebar -->

			  <!--start  main here -->
				<div class="column col-sm-9" id="main">
					<div class="padding">
						<div class="full col-sm-9">
						<!-- content -->
							<h2>
								Category: {{currentCategory}}
								<a href="#" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#bookmarkModal">

								<i class="glyphicon glyphicon-plus-sign"></i> New bookmark
								</a>
							</h2>
							<ul>	
								<li ng-repeat="bookmark in bookmarks | filter: {category: currentCategory}">
									<p>
										<a href="{{bookmark.url}}">{{bookmark.name}}</a> 
										<i class="glyphicon glyphicon-trash"></i>
										<i class="glyphicon glyphicon-pencil"></i><br/>
										<small>{{bookmark.url}}</small>
									</p>
								</li>
							</ul>
						</div><!-- /col-9 -->
					</div><!-- /padding -->
				</div><!--end- /main here -->
			</div>
		</div>
	</div>
	<!-- Bookmark form -->
	<div class="modal fade" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Bookmark</h4>
				</div>
				<div class="modal-body">
					<form id="bookmarkForm">
						<p>Please enter the title and the url for your bookmark, all fields are required.</p>
						<!-- Select -->
						<div class="form-group">
							<label for="category">Category</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-folder-open"></i>
								</div>
								<select ng-model="bookmark.category" ng-options="value for value in categories" id="category" class="form-control">
								</select>
							</div>
						</div>
						<!-- Title -->
						<div class="form-group">
							<label for="title">Title</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-bookmark"></i>
								</div>
								<input ng-model="bookmark.title" id="title" class="form-control" type="text" placeholder="Enter the title">
							</div>
						</div>

						<div class="form-group">
							<label for="url">URL</label>
							<div class="input-group">
								<div class="input-group-addon">
								  <i class="glyphicon glyphicon-link"></i>
								</div>
								<input ng-model="bookmark.url" id="url" class="form-control" type="url" placeholder="Enter the URL">
							</div>
						</div>

					</form>



				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="save(bookmark)">Save changes</button>
				</div>
			</div>
		</div>
	</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>	
</body>
</html>